@model IEnumerable<WebAlumnos.Models.Alumnos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.Partial("_CapaRoja")
<form >
    <input type="text" id="txBus" name="busqueda" placeholder="Buscar...."/>
    <input type="button" id="btnBuscar" value="ok"/>
</form>


<p>
    @Html.ActionLink("Nuevo alumno", "Alta")
</p>

<div id="Alumnos">
    @Html.Partial("_Listado",Model)
</div>

<script>
    $(document).ready(function() {

        $("#btnBuscar").click(function() {
            var cad = $("#txBus").val();
            $("#Alumnos").load("/home/buscar?busqueda=" + cad);

        });


    });

</script>